/* styling for my professional porfolio page */
html,body {
	width:100%;
	height:100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
/* introduction section */
.intro-header {
	padding-top : 50px;
	padding-bottom : 50px;
	text-align: center;
	color: #ffffff;
	background: url("../img/intro-bg.jpg") no-repeat center center;
	background-size:cover;
}

.intro-message {
	padding-top: 20%;
	padding-bottom: 20%;
	position: relative;

}

.intro-message h1 {
	font-size: 5em;	
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message h3 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);

}
.intro-divider {
	width : 400px;
	border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}
.knowmore-txt{
	color: rgb(0,0,0);
	text-transform: uppercase;
	font-size:1 em;
}
/** Project section **/
#projects .section-b {
	background-color: #f8f8f8;
	padding: 50px 0;
	border-top: 3px solid  #e7e7e7;
	border-bottom: 3px solid #e7e7e7;
}
#projects .section-a {
	padding: 50px 0;
}
.projects-heading {
	text-transform: uppercase;
	font-size: 2em;
}
.lead {
	font-size: 18px;
	font-weight: 400;
}
.section-heading {
	margin-bottom: 30px;
}
.section-heading-spacer {
	width : 200px;
	float:left;
	border-top: 3px solid #e7e7e7;

}
/** footer **/
footer {
	background-color: rgb(0,0,0);
	padding : 30px 0 30px;
}

footer .social-website-connect{
 list-style: none;
}

.social-website-connect li {
	float:left;
	margin : 5px;
}
.contact-form {
	padding: 25px;
	border-top : 3px solid #e7e7e7;
	background-color: #f8f8f8;
}
.contact-heading {
	font-size: 3em;
	text-transform: uppercase;
}

/** Media Queries **/
@media(max-width: 767px) {
	.intro-divider {
		max-width: 100%;
	}
	.intro-message > h1 {
		font-size: 3em;
	}
}